<a href="https://colab.research.google.com/github/Delei09/python_for_finance/blob/develop/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q yfinance

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 3.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 9.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 12.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 56.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 12.5 MB/s eta 0:00:00

In [ ]:
# Libs que precisam ser importadas
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

In [ ]:
# Escolher sempre o start a data a partir que quer traer os dados e o ticktet que quer analisar
gol_df = yf.download("GOLL4.SA", start='2015-01-01')

[*********************100%***********************]  1 of 1 completed

In [ ]:
# Info dos graficos
gol_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2022 entries, 2015-01-02 to 2023-02-16
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2022 non-null   float64
 1   High       2022 non-null   float64
 2   Low        2022 non-null   float64
 3   Close      2022 non-null   float64
 4   Adj Close  2022 non-null   float64
 5   Volume     2022 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 110.6 KB

In [ ]:
gol_df.head()
# Mostra os 5 primeiros dados do data frame

             Open   High    Low  Close  Adj Close   Volume
Date
2015-01-02  14.97  15.20  14.61  14.99      14.99   901900
2015-01-05  14.90  15.01  14.41  14.85      14.85  1272500
2015-01-06  14.75  15.21  14.65  15.21      15.21  2183500
2015-01-07  15.15  15.33  14.55  14.55      14.55  1846900
2015-01-08  14.41  14.65  14.20  14.27      14.27  1569500

In [ ]:
gol_df.tail(3)
# Mostra os 3 ultimos

            Open  High   Low  Close  Adj Close    Volume
Date
2023-02-14  6.21  6.32  5.83   5.86       5.86  17200500
2023-02-15  5.87  6.21  5.77   6.08       6.08  16452300
2023-02-16  6.06  6.12  5.86   6.03       6.03   8615500

In [ ]:
gol_df.describe()
# Analisar a media dos valores historicos

              Open         High  ...    Adj Close        Volume
count  2022.000000  2022.000000  ...  2022.000000  2.022000e+03
mean     15.216662    15.591434  ...    15.177404  5.723594e+06
std       9.316069     9.486968  ...     9.309177  5.065746e+06
min       1.160000     1.180000  ...     1.160000  0.000000e+00
25%       7.840000     8.042500  ...     7.830000  2.184500e+06
50%      13.800000    14.160000  ...    13.745000  4.235200e+06
75%      21.000000    21.465000  ...    20.895000  7.638625e+06
max      43.669998    44.619999  ...    43.790001  4.368050e+07

[8 rows x 6 columns]

In [ ]:
# Filtrar uma ação de uma coluna especifica
gol_df[gol_df['Close'] >= 43.79]

             Open       High    Low      Close  Adj Close   Volume
Date
2019-08-01  41.25  44.619999  41.25  43.790001  43.790001  6664200

In [ ]:
# Filtrar dois campos para pesquisar valor de coluna especifico
gol_df[(gol_df['Close'] >= 1.15) & (gol_df['Close'] <= 1.16) ]

            Open  High   Low  Close  Adj Close   Volume
Date
2016-01-22   1.2  1.26  1.14   1.16       1.16  3830600